body {
  background-color: #42789e0d !important;
}
.tableContainer {
  max-width: 800px;
  margin: 10% auto 0;
  text-align: right;
}
.ui.celled.table {
  text-align: center;
}
.rc-color-picker-trigger {
  margin-left: 20px;
}
.colorSpan {
  min-width: 60px;
  display: inline-block;
}




.fade-enter div {
  overflow-y: hidden;
  max-height: 0;
}

.fade-enter-active div {
  max-height: 50px;
  transition: all 500ms ease-in;
}
.fade-exit div {
  max-height: 50px;
}
.fade-exit-active div {
  max-height: 0;
  overflow-y: hidden;
  transition: all 500ms ease-in;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
